/Sivaranjani_AED_Assignment1/nbproject/private/
/Lab_1_Videotutorial_tryout/nbproject/private/
/Human_Resource Management/nbproject/private/
/hrManagement/nbproject/private/
/hrManagement/build/
/Assignment2HospManagement/nbproject/private/
/HMS/nbproject/private/
/HMS/build/
